body{
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Lora', serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Satisfy', cursive; */
}

#mustali{
    transform: rotate(8deg);
}

::-webkit-scrollbar{
    width: "5px";
  }
  
  ::-webkit-scrollbar-thumb{
    background: #fefefe;
  }